body{
    margin:0;
    font-family: 'Segoe UI';
    background:#0f172a;
    color:white;
}

/* Navbar */
.navbar{
    display:flex;
    justify-content:space-between;
    padding:15px;
    background:#020617;
}

.navbar a{
    color:white;
    text-decoration:none;
    margin-left:15px;
}

/* Container */
.container{
    display:flex;
    gap:20px;
    padding:20px;
}

/* Cards */
.card{
    background:#1e293b;
    padding:20px;
    border-radius:10px;
    width:300px;
}

/* Form */
input{
    width:90%;
    padding:10px;
    margin:5px;
    border-radius:5px;
    border:none;
}

button{
    background:#22c55e;
    color:white;
    padding:10px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#16a34a;
}

/* Result */
.result{
    margin-top:10px;
    color:#22c55e;
    font-size:18px;
}